# Base de datos
DATABASE_URL=postgres://user:pass@ep-xxx.us-east-2.aws.neon.tech/neondb

# Google - Service Account JSON (ruta al archivo)
GOOGLE_SERVICE_ACCOUNT_PATH=./credentials/google-service-account.json

# GA4
GA4_PROPERTY_ID=448832584

# GSC
GSC_SITE_URL=https://hitocean.com

# Clarity
CLARITY_PROJECT_ID=W0cjMKViRA6uFxYmp-SLcg
CLARITY_TOKEN=eyJhbGciOiJSUzI1NiIsImtpZCI6IjQ4M0FCMDhFNUYwRDMxNjdEOTRFMTQ3M0FEQTk2RTcyRDkwRUYwRkYiLCJ0eXAiOiJKV1QifQ...

# SEMrush (opcional - para Puppeteer)
SEMRUSH_EMAIL=tu_email@ejemplo.com
SEMRUSH_PASSWORD=tu_password
